.card {
  width: 280px;
  background-color: rgba(255, 255, 255, 0.847);
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #bbbbbb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 10px;
  animation-name: slowAppear;
  animation-duration: 1.5s;

  .personImage {
    height: 100%;
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .text {
    font-family: "Inter", sans-serif;
    padding: 0 15px;
    margin-top: 5px;
    display: block;
    font-size: 14px;
  }

  .btMaisDetalhes {
    font-family: "Inter", sans-serif;
    padding: 5px 15px;
    background-color: rgba(112, 10, 10, 0.73);
    color: #f3ecec;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    &:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
  }
}
