<div class="card">
  <div>
    <div style="height: 200px;
    text-align: center;" class="">
      <img
        [src]="desaparecido.urlFoto"
        alt="Imagem de uma pessoa desaparecida"
        class="personImage"
        *ngIf="desaparecido.urlFoto !== null; else nophoto"
      />
      <ng-template #nophoto>
        <img
          src="../../../assets/nophoto.jpg"
          alt="Imagem mostrando que não tem foto"
          class="personImage"
        />
      </ng-template>
    </div>
    <p class="text"><strong>Nome:</strong> {{ desaparecido.nome }}</p>
    <p class="text"><strong>Idade:</strong> {{ desaparecido.idade }}</p>
    <p class="text"><strong>Sexo:</strong> {{ desaparecido.sexo }}</p>
  </div>
  <a class="btMaisDetalhes" [routerLink]="['/details/', desaparecido['id']]"
    >Mais Informações </a
  >
</div>
